<html>
    <head>
        <title>Home Page</title>
    </head>
    <style>
        *{
            padding:0px;
            margin: 0px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }
        body{
            background-image: linear-gradient(rgb(48, 140, 245),rgba(255, 255, 255, 0.301));
            height: 70vh;
            padding: 10% 0% 5% 0%;
        }
        h1{
            font-size: 70px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15vh;
            
            
        }
        .c{
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            width: 100%;
            
            
        }
        .b{
            border: 4px solid rgba(251, 250, 248, 0.741);
            background-image: linear-gradient(rgb(48, 140, 245),white);
            height: 200px;
            width: 450px;
            border-radius: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10%;
        }
        
        
        button{
            background-color: rgba(255, 255, 255, 0.537);
            border-color:rgb(48, 140, 245);
            height: 40px;
            width: 150px;
            border-radius: 20px;
            font-size: 20px;
        }
        button:hover{
            background-image: linear-gradient(rgb(48, 140, 245),white);
        }
        a{
            all: unset;
        }
    </style>
    <body>
        <div class="a">
            <div class="container-fluid">
              <div>
                <h1>WELCOME TO ALL</h1>
              </div>
              <div class="c">
                <div class="b">
                  <button ><a href="login">Login</a></button>
                  <button ><a href="register">Sign up</a></button>
                </div>
              </div>
            </div>
        </div>
        
    </body>
</html>
