<html>
    <head>
        <title>Profile</title>
    </head>
    <style>
        *{
            padding:0px;
            margin: 0px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        body{
            background-image: linear-gradient(rgb(48, 140, 245),rgba(255, 255, 255, 0.301));
            height: 85vh;
            padding: 10% 0% 5% 0%;
        }
        a{
            all: unset;
        }
        button{
            background-color: rgba(255, 255, 255, 0.537);
            border-color:rgb(48, 140, 245);
            height: 40px;
            width: 150px;
            border-radius: 20px;
            font-size: 20px;
        }
        button:hover{
            background-image: linear-gradient(rgb(15, 79, 231),white);
        }
    </style>
    <body>
        <nav>
            <button><a href="/logout">Logout</a></button>
        </nav>
            <h1>Login Successfully</h1>
    </body>
</html>